body{
    padding: 0px;
    margin: 0px;
}
/* .header-img{
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .sectio-first h1{
    color: #00acc2;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
} */